
* -linguist-vendored linguist-detectable
*.mozconfig linguist-language=Shell
*.patch linguist-vendored
*/gecko/** linguist-vendored
crlf.patch -text
moz.build linguist-language=Python
mozconfig linguist-language=Shell
snowfox.cfg linguist-language=JavaScript
